* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --bg-body: #efefef;
  --bg-before: #535971;
  --border-color: #e6e6f0;

  --bg-input: #fafafc;
  --label-color: #4e4958;
  --span-color: #c1bccc;
}

body * {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-body);
}

body:before {
  content: "";
  width: 100%;
  height: 43.6rem;
  background-color: var(--bg-before);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 75rem;
  margin-inline: auto;

  padding-top: 14rem;
}

header {
  width: 41.6rem;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  color: #fff;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 1.8rem;
}

header p {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
}

form {
  background-color: #fff;

  margin-top: 6rem;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 6.4rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.fieldset-wrapper legend {
  color: var(--bg-before);
  font-family: "Staatliches", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;

  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--border-color);
}

.col-2 {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.input-wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-wrapper label {
  color: var(--label-color);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.input-wrapper label span {
  color: var(--span-color);
  font-size: 12px;
  line-height: 20px;

  margin-left: 0.8rem;

  transition: color 200ms;
}

.input-wrapper label span:hover {
  color: var(--label-color);
}

.input-wrapper input {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: var(--bg-input);
  height: 5.6rem;

  color: var(--label-color);
  padding-inline: 1.6rem;
}
