* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --bg-body: #efefef;
  --bg-before: #535971;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-body);
}

body:before {
  content: "";
  width: 100%;
  height: 43.6rem;
  background-color: var(--bg-before);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
