* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --bg-body: #bfd7e4;
  --bg-before: #293241;
}

body * {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-body);
}

body::before {
  content: "";
  width: 100%;
  height: 465px;
  background-color: var(--bg-before);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 75rem;
  margin-inline: auto;
}

header {
  width: 39rem;
  margin: 10.6rem auto 3.2rem;
  text-align: center;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: normal;
}

header p {
  margin-bottom: 1.7rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

form {
  min-height: 300px;
  background-color: #fff;
  padding: 6.4rem;
  border-radius: 2rem 2rem 2rem 2rem;
  margin-bottom: 15rem;

  position: relative;
}

fieldset {
  border: none;
}

fieldset legend {
  text-align: center;
  color: #fff;
  font-family: "Staatliches", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;

  width: 100%;
  height: 13.3rem;
  background-color: #f67669;
  border-radius: 2rem 2rem 0px 0px;
  padding-block: 5rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
